// fonts
primaryFont = 'ClearSans-Regular'
// colors
primaryColor = #ffffff
secondaryColor = #80bf44
tertiaryColor = #676b6d
// breakpoints
tabletBreakpoint = 970px
mobileBreakpoint = 480px
// width
desktopWidth = 1680px
tabletWidth = 850px
modileWidth = 420px