body
  margin 0
  font-family primaryFont
.app {
  &__screen {
    position relative
  }

  &__header {
    position absolute;
    z-index 1
    top 0
    left 0
    right 0
  }

  &__gallery {
    min-height 1024px
    position relative
    z-index 0
  }
}